<div class="col-lg-9">
  <div class="panel">

    <div class="panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Descrição do sistema</h3>
      </div>
    </div>

    <div class="panel-body" align="justify">
      O BOPE SYSTEM tem como principal objetivo gerenciar toda a parte de processo do laboratório iMobilis dentro da UFOP. Este sistema tem como principais funcionalidades: contabilização de horas e registro de atividades com suas devidas pontuações para cada usuário e equipe, e por fim, a geração de relatórios. Nestes relatórios são especificados os seguintes dados: dedicação relativa de cada usuário e equipe, velocidade e burndown de cada equipe, e além disso, a completude e avanço de cada projeto dentro do iMobilis.
    </div>

  </div>
</div>