<div class="col-lg-9">
  <div class="panel">

    <div class="panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Descrição do sistema</h3>
      </div>
    </div>

    <div class="panel-body">
      Sistema voltado para gerenciar as atividades da UFOP.
    </div>

  </div>
</div>