<div class="page-header">
  <div class="row">
    <div class="col-lg-12">

      <h1>BOPE</h1>

      <p class="lead">
        [ Aqui seria uma frase de introdução/descrição do sistema ]
      </p>

    </div>
  </div>
</div>
