<div class="page-header">
  <div class="row">
    <div class="col-lg-12">

      <div class="row">
        <%= image_tag 'logo_imobilis.png', class: 'pull-right logo-header' %>
        <h1>BOPE SYSTEM</h1>
      </div>

      <p class="lead">
        Sistema de Gerenciamento voltado para a parte de processo dentro do laboratório iMobilis
      </p>

    </div>
  </div>
</div>
