<div class="col-lg-9">
  <div class="panel">

    <div class="panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><center>Nova Sub Macro Atividade</center></h3>
      </div>
    </div>

    <div class="panel-body">

      <%= render partial: 'sub_macro_activities/form' %>

    </div>
  </div>
</div>