<!DOCTYPE html>
<html>
<head>
  <title>Relatório</title>
  <%= wicked_pdf_stylesheet_link_tag    'pdf' %>

  <%= wicked_pdf_javascript_include_tag 'application' %>
</head>
<body>

  <%= yield %>
  <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
</body>
</html>