<div id="chart" style="width: 1000px"></div>

<script>
  window.onload = function() {
    zingchart.render({
      id: "chart",
      data: {
        "type": "line",
        "title": {
          "text": "Gráfico de Avanço e Completude"
        },
        "legend": {
          "layout":"1x2", //row x column
          "position": "50% 10%",
          "padding": "10%"
        },
        "plotarea": {
          "margin-top": "24%"
        },
        "plot": {
          "value-box": {
            "text": "%node-value"
          }
        },
        "series": [
          {
            "values": <%= raw @project.progresses.order(:id).map { |p| [p.sprint.description + " (#{p.sprint.semester})", p.completeness.to_f] } %>,
            "text": "Completude"
          },
          {
            "values": <%= raw @project.progresses.order(:id).map { |p| [p.sprint.description + " (#{p.sprint.semester})", p.advance.to_f] } %>,
            "text": "Avanço"
          }
        ]
      },
      width: "100%"
    });
  };
</script>